                body {
                    margin: 0;
                    padding: 0;
                    font-family: 'Lato', sans-serif;
                }
                /* manu area start */
                
                .manu-area {
                    background-image: url(img/banner/banner.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    padding: 20px 0 85px 0;
                    height: 100vh;
                }
                
                .my-manu ul li a {
                    font-size: 18px;
                    color: #ffffff !important;
                    font-weight: 400;
                    padding: 20px !important;
                }
                
                .header-contant {
                    padding: 120px;
                    color: #ffffff;
                }
                
                .header-contant h3 {
                    font-weight: normal;
                    font-size: 32px;
                }
                
                .header-contant h1 {
                    font-weight: 700;
                    font-size: 75px;
                    text-transform: uppercase;
                }
                
                .btn-custom {
                    border: 1px solid #ffffff;
                    padding: 15px 60px;
                    color: #ffffff;
                    font-size: 25px;
                    font-weight: 700px;
                    margin-top: 80px;
                }
                
                .btn-custom:hover {
                    color: #fff;
                }
                /* hader area end */
                /* development part start */
                
                .development-part {
                    padding: 80px 0px;
                }
                
                .top-contant h1 {
                    padding-bottom: 28px;
                    font-size: 59px;
                    margin-left: 5%;
                }
                
                .top-contant p {
                    font-weight: 400;
                    font-size: 18px;
                    color: #777777;
                    padding: 0px 40px;
                    line-height: 30px;
                }
                
                .bootom-contant h1 {
                    padding-bottom: 28px;
                    font-size: 59px;
                    margin-left: 5%;
                }
                
                .bootom-area {
                    background-color: #fafafa;
                    padding-bottom: 70px;
                }
                
                .bootom-contant p {
                    font-weight: 400;
                    font-size: 18px;
                    color: #777777;
                    padding: 0px 40px;
                    line-height: 30px;
                }
                /* development part end */
                /* fetured area start */
                
                .fetured-area {
                    padding: 80px 0px;
                }
                
                .icon {
                    width: 70px;
                    height: 70px;
                    background-color: #252525;
                    border-radius: 50%;
                    color: #ffffff;
                    text-align: center;
                    margin-left: 17px;
                    cursor: pointer;
                }
                
                .icon i {
                    font-size: 35px;
                    padding-top: 16px;
                }
                
                .icon-text h3 {
                    font-weight: 700;
                    font-size: 24px;
                    color: #222222;
                }
                
                .icon-text p {
                    font-size: 18px;
                    font-weight: normal;
                    color: #777777;
                }
                /* fetured area end */
                /* claint part start */
                
                .claint-part {
                    padding: 80px 0px;
                    background-color: #fafafa;
                }
                
                .common-titel h1 {
                    font-size: 59px;
                    color: #222222;
                }
                
                .common-titel p {
                    font-size: 23px;
                    color: #777777;
                }
                
                .past-circal img {
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    border: 5px solid #252525;
                }
                
                .claint-containt {
                    padding: 20px 40px;
                    background-color: #ffffff;
                    border: 0.5 solid rgb(122, 120, 120);
                }
                
                .claint-containt::before {
                    content: '';
                    width: 0;
                    height: 0;
                    position: absolute;
                    border-top: 20px solid transparent;
                    border-right: 27px solid #ffffff;
                    border-bottom: 20px solid transparent;
                    left: -10px;
                    top: 47%;
                }
                
                .claint-containt p {
                    font-size: 25px;
                }
                
                .b-color {
                    font-size: 16px!important;
                    color: #7690c5;
                }
                /* second claint part */
                
                .claint-img2 img {
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    border: 5px solid #252525;
                }
                
                .claint-contant2 {
                    padding: 20px 40px;
                    background-color: #ffffff;
                    border: 0.5 solid rgb(122, 120, 120);
                    margin-top: 40px;
                }
                
                .claint-contant2 p {
                    font-size: 25px;
                }
                
                .claint-contant2::after {
                    content: '';
                    width: 0;
                    height: 0;
                    position: absolute;
                    border-top: 20px solid transparent;
                    border-left: 27px solid #ffffff;
                    border-bottom: 20px solid transparent;
                    right: 36px;
                    top: 38%;
                }
                /* claint part end */
                /* claint feetback part start*/
                
                .claint-feetback ul li {
                    padding-right: 35px;
                }
                /* claint feetback part end*/
                /* team part start */
                
                .team-part {
                    padding: 80px 0px;
                    background-color: #111111;
                    margin-top: 40px;
                }
                
                .common-titel1 h1 {
                    color: #ffffff;
                    font-size: 59PX;
                }
                
                .common-titel1 p {
                    color: #777777;
                    font-size: 19px;
                }
                
                .circel-img img {
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    border: 4px solid #ffffff;
                }
                
                .titel {
                    color: #ffffff;
                }
                
                .social-icon li {
                    font-size: 25px;
                    width: 50px;
                    height: 50px;
                    line-height: 47px;
                    border: 2px solid #fff;
                    border-radius: 50%;
                }
                
                .social-icon li a {
                    color: #ffffff !important;
                }
                
                .circel-bootom-text {
                    color: #ebebeb;
                    padding: 0px 200px;
                    margin-top: 50px;
                    text-align: center;
                    font-size: 20px;
                }
                /* team part end */
                /* footer area start */
                
                .footer-area {
                    padding: 80px 0px;
                    background-color: #7690c5;
                    color: #ffffff;
                }
                
                .left-part h1 {
                    font-size: 59px;
                }
                
                .contant-design {
                    padding-top: 87px;
                }
                
                .contant-design ul li {
                    font-size: 16px;
                }
                
                .contant-design ul li i {
                    font-size: 25px;
                }
                
                .comment-aria {
                    padding-top: 50px;
                    margin-left: 50px;
                    padding-bottom: 70px;
                }
                
                button,
                input,
                optgroup,
                select,
                textarea {
                    margin: 11px;
                    font-family: inherit;
                }
                
                textarea.form-control {
                    height: 180px;
                }
                
                .form-control {
                    padding: 2.375rem .75rem;
                }
                
                .btn-custom2 {
                    padding: 8px 20px;
                    border: 2px solid #ffffff;
                    text-transform: uppercase;
                    color: #000000;
                    margin-left: 15px;
                    background-color: #ffffff;
                }
                
                hr {
                    border: 1px solid #ffffff;
                    color: #ffffff;
                }
                
                .last-aria {
                    padding: 20px 0;
                    text-align: center;
                }
                
                .last-aria h4 {
                    font-size: 16px;
                    color: #ffffff;
                }
                /* footer area end */